{% extends 'base.html.twig' %}

{% block title %}Gérer les villes{% endblock %}


{% block body %}
    <h2 style="text-align: center">Gérer les villes</h2>
    <table>
       <tbody>
        <tr style="display: flex; justify-content: space-around">
            <td>Ville</td>
            <td>Code postal</td>
            <td>Actions</td>
        </tr>
       </tbody>
    </table>
{% endblock %}
