{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville | {{ parent() }}{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button>Edit</button>
    {{ form_end(villeForm) }}
{% endblock %}