body{
    margin: 0;

}

main{
    margin: 10px;
}
footer{
    display: none;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.team li{
    list-style: none;

}
.team ul{
    display: flex;
    flex-direction: row;
    gap: 10px
}
.team h3{
    margin: 0;
}