.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-section{
    width: 100%;
}

.tab{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tab h2{
    font-size:1.25em;
}

.left-section, .right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group-left, .form-group-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
form{
    width: 90%;
}
.filtrage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
}
.title{
    width: 90%;
    font-size: 1.5em;
    text-align: left;
}
.nom, .dates, .clotures, .places, .etats, .inscrits, .organisateur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.action{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px
}


#search, .create-sortie{
    padding: 5px;
    background-color: white;
    font-size: 1em;
    transition: all 0.3s ease-in-out;

}
/* SLIDE EFFECT */
#search:hover,
#search:focus{
    color: white;
    box-shadow: inset 6.5em 0 0 0 #77c22f;
    border-color: green;
}
.create-sortie:hover, .create-sortie:focus{
    box-shadow: inset 9em 0 0 0 #0276b7;
    border-color: blue;
    color: white;
}

.create-sortie{
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    box-sizing: border-box;
}


