*{
    font-family: 'Poppins', sans-serif;

}

header ul>li:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}
header ul>li:hover:after{
    width: 100%;
}

header ul>li{
    transition: all 2s;
}


header{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid black;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

header ul li{
    list-style: none;
    font-size: 1.25em;
}
header ul li a{
    color: #0c0c0c;
    text-decoration: none;
}

header h1{
    font-size: 2.5em;
    color: #0c0c0c;
    letter-spacing: 1px;
}

main{
    display: flex;
    flex-direction: column;
}

@keyframes rgb {
    0% {
        color: #ff0000;
    }
    10% {
        color: #ff9a00;
    }
    20% {
        color: #d0de21;
    }
    30% {
        color: #4fdc4a;
    }
    40% {
        color: #3fdad8;
    }
    50% {
        color: #2fc9e2;
    }
    60% {
        color: #1c7fee;
    }
    70% {
        color: #5f15f2;
    }
    80% {
        color: #ba0cf8;
    }
    90% {
        color: #fb07d9;
    }
    100% {
        color: #ff0000;
    }
}