.error{
    margin-top: 80px;
    text-align: center;
    align-items: center;
    color: red;
}

form{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}

main{
    justify-content: center;
    align-items: center;
}

#registration_form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#registration_form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#registration_form div label{
    font-weight: bold;
}

button{
    color: black;
    display: inline-block;
    text-align: center;

    text-decoration: none;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
    font-size: 1em;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}


button:hover, button:focus{
    box-shadow: inset 40em 0 0 0 #02b702;
    border-color: rgb(5, 113, 14);
    color: white;
}