.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 30px;
}
.tab{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.name, .date-heure-debut, .date-limite-inscription, .places, .duree, .description,
.campus, .lieu, .rue, .cp, .latitude, .longitude{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.list-users{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.list-users h2{
    width: 100%;
}

.line{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.user-pseudo, .user-nom{
    width: 100%;
}
.annulation{
    font-size: 2em;
    color: #ee0c0c;
    border: 2px solid red;
    padding: 3px;
}

/* RESPONSIVE */
@media (max-width: 768px){
    .tab{
        flex-direction: column;
        justify-content: space-around;
    }
    .rightside, .leftside{
        width: 100%;
    }
    .line{
        width: 100%;
    }
    h2{
        font-size: 1.4em;
    }
}