{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
{% endblock %}
    
    <header>
        <h1>Sortir.com</h1>
        <ul>
            {% if app.user %}
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Mon profil</a></li>
                <li><a href="{{ path('app_logout') }}" title="logout" >Logout</a></li> 
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="#">Villes</a></li>
                <li><a href="#" >Campus</a></li>
            {% endif %}
        </ul>
    </header>
